body{
    box-sizing: border-box;
}
input{
    width: 80%;
    border-radius: 20px;
    outline: none;
    text-align: center;
    height: 40px;
}
#button{
    width: 30%;
    color: black;
    background-color: #4285F4;
    
}

form{
    margin-top: 200px;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    margin-left: 35%;
}


#emailid{
    margin-bottom: 10px;
}
#pwd{
    
    margin-bottom: 10px;
}
a{
    /* border: 1px solid white; */
    margin-left: 46%;
    color:yellow;
    text-decoration: none;

}